gradio
speech-analyzer
opencv-python
mediapipe
numpy
pyttsx3
tempfile
nltk
phonemizer
pronouncing
librosa
speechrecognition
syllapy
matplotlib
opencv-python
mediapipe
sounddevice
scipy
librosa
matplotlib
numpy
